body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
}

header {
	background-color: #002347;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #eedbe1;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

a {
	color: #002347;
}

a:hover {
	color: #4c98af;
}
